
{% extends "base.html" %}


{% block body %}
<div class="py-5 col-12" style="background-color: #eaf5f7;">
    <div class="form-group row">
        <div class="col-lg-1"></div>

        <table class="col-lg-10" border="1">
            <tr><th width="100" style="text-align:center">店名</th><td>{{ store.store_name }}</td></tr>
            <tr><th width="100" style="text-align:center">ジャンル</th><td>{{ store.genre }}</td></tr>
            <tr><th width="100" style="text-align:center">エリア</th><td>{{ store.location }}</td></tr>
            <tr><th width="100" style="text-align:center">写真</th><td>{% for picture in store.pictures.all %} 
                    <!-- <img src="{{ picture.picture.url }}" width="100" height="100"/> -->
                    <img src="{{ picture.picture.url }}" width="405" height="auto"/>
                {% endfor %}</td></tr>
            <tr><th width="100" style="text-align:center">URL</th><td><a href="{{ store.link }}">{{ store.link }}</a></td></tr>
            <tr><th width="100" style="text-align:center">コメント</th><td>{{ store.comment }}</td></tr>
            <tr><th width="100" style="text-align:center">登録者</th><td>{{ store.user }}</td></tr>
        </table>
        <div class="col-lg-1"></div>    
    </div>
    
    <div class="row">
        <div class="col-lg-1"></div> 
        <form>
            {% if user.is_authenticated %}
                <input type="button" class="btn btn-success" onclick="location.href='{% url 'stores:update_post' pk=store.pk %}'" value="編集する">
            {% endif %}

            <input type="button" class="btn btn-primary" onclick="history.back()" value="前のページに戻る">
            <!-- <input type="button" class="btn btn-danger" onclick="location.href='{% url 'stores:delete_post' pk=store.pk %}'" value="削除する"> -->
        </form>
    
        <form class="ml-1" method="post" action="{% url 'stores:delete_post' pk=store.pk %}">{% csrf_token %}
            {% if user.is_authenticated %}
                <button class="btn btn-danger" type="submit" onclick='return confirm("本当に削除しますか？");'>削除する</button>
            {% endif %}
        </form>
    </div>
</div>





{% endblock %}