
{% extends "base.html" %}


{% block body %}

<div class="pt-5"　style="background-color: #eaf5f7;">
    <div class="form-group row">
        <div class="col-sm-1"></div>
        <table class="col-sm-10" border="1">
            <tr>
                <th>ID</th>
                <th>店名</th>
                <th>ジャンル</th>
                <th>エリア</th>
                <th>URL</th>
                <th>登録者</th>
            </tr>
            
            <tr>
                <td>{{ store.id }}</td>
                <td>{{ store.store_name }}</td>
                <td>{{ store.genre }}</td>
                <td>{{ store.location }}</td>
                <td><a href="{{ store.link }}">{{ store.link }}</a></td>
                <td>{{ store.user }}</td>
            </tr>
        </table>
        <div class="col-sm-1"></div>    
    </div>    
</div>

{% endblock %}

