
{% extends "base.html" %}


{% block body %}

<div id="column">
    <h2 class="text-center">愛知の魅力をもっと知りたい</h2>
    <h5 class="text-center">Aichi has many attractions that we do not yet know</h5>
</div>

<div class="row">
    <div class="col-md-4 col-12">
        <img class="img-fluid" src="https://unsplash.it/1000/600" alt="">
    </div>
    <div class="col-md-4 col-12">
        <img class="img-fluid" src="https://unsplash.it/1000/600" alt="">
    </div>
    <div class="col-md-4 col-12">
        <img class="img-fluid" src="https://unsplash.it/1000/600" alt="">
    </div>
</div>


<div class="form-group row my-5">

    <div style="text-center">
        <h4>　初めまして。サイトをご覧いただきありがとうございます。
            サイトの主は愛知県に住み始めて約1年が経ちました。
            この1年、愛知のグルメや観光地について知ることができました。
            しかし、私が知った情報はまだまだほんの一部。
            愛知にはまだまだ私の知らない魅力がたくさんあるのです。
            もっと愛知のことを知りたい！という思いから、愛知のグルメを共有できるサイトを作ろうと思いました。
            まずは、愛知のグルメについて蓄積していきたいと思っています。
            RESEARCHからはお店の検索、POSTからはお店の登録ができます。
            ぜひ、あなたの知っている愛知の魅力を教えてください。
        </h4>
    </div>

</div>      

<div class="my-5">　</div>     
<div class="my-5">　</div>      

<div class="form-group row my-5 pb-5" style="background-color: #f8f8f8;">
    <div class="col-12">
        <h2 style="text-align:center">
            <div>WEB開発についても勉強中です。</div>
            <div>サイトのデザインが決まるまで適当に綺麗な写真載せておきます</div>
        </h2>
        <div>
            <img class="img-fluid col-12" src="https://unsplash.it/1000/600" >
        </div> 
    </div>
</div>



{% endblock %}

