
{% extends "base.html" %}


{% block body %}
<div class="pt-5">
    <div class="form-group row">
        <div class="col-sm-2"></div>

        <div class="col-sm-8" style="text-align:center">
            <h1>愛知の魅力をもっと知りたい</h1>
            <h2>Aichi has many attractions that we do not yet know</h2>
        </div>

        <div class="col-sm-2"></div>    
    </div>

    <div class="form-group row my-5">
        <div class="col-sm-2"></div>

        <div class="col-sm-8" style="text-align:center">
            <h5>
                <div>初めまして。サイトをご覧いただきありがとうございます。</div>
                <div>サイトの主は愛知県に住み始めて約1年が経ちました。</div>
                <div>この1年、愛知のグルメや観光地について知ることができました。</div>
                <div>しかし、私が知った情報はまだまだほんの一部。</div>
                <div>愛知にはまだまだ私の知らない魅力がたくさんあるのです。</div>
                <div>もっと愛知のことを知りたい！という思いから、</div>
                <div>愛知のグルメを共有できるサイトを作ろうと思いました。</div>
                <div>まずは、愛知のグルメについて蓄積していきたいと思っています。</div>
                <div>RESEARCHからはお店の検索、POSTからはお店の登録ができます。</div>
                <div>ぜひ、あなたの知っている愛知の魅力を教えてください。</div>
            </h5>
        </div>

        <div class="col-sm-2"></div>    
    </div>      

    <div class="my-5">　</div>     
    <div class="my-5">　</div>      

    <div class="form-group row my-5 pb-5" style="background-color: #f8f8f8;">
        <div class="col-sm-2"></div>

        <div class="col-sm-8" style="text-align:center">
            <h2>
                <div>WEB開発についても勉強中です。</div>
                <div>サイトのデザインが決まるまで適当に綺麗な写真載せておきます</div>
            </h2>
            <div>
                <img src="https://unsplash.it/1000/600">
            </div> 
        </div>

        <div class="col-sm-2"></div>    
    </div>    
</div>
{% endblock %}

