{% extends "base.html" %}


{% block body %}

<div class="row py-5">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    <form action="" method="post" enctype="multipart/form-data">
      <h2>登録フォーム</h2>
      {{ form.as_p }}
    
      <h2>添付ファイル</h2>
      {{ formset.management_form }}
      {% for file_form in formset %}
          {{ file_form.as_p }}
          <hr>
      {% endfor %}
    
      {% csrf_token %}
      <button type="submit" class="btn btn-primary">送信</button>
    </form>
  <div class="col-lg-3"></div>
  </div>
</div>

{% endblock %}

