{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>愛知を知りたい！</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <div class="container　my-5">
      <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #99d5ff;">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav col-10">
            <a class="nav-item nav-link active" href="{% url 'stores:index' %}">HOME <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="{% url 'stores:research' %}">RESEARCH</a>
            <a class="nav-item nav-link" href="{% url 'stores:post' %}">POST</a>
            <a class="nav-item nav-link" href="{% url 'stores:other' %}">OTHER</a>
          </div>

          <div class="navbar-nav col-2">
            <a class="nav-item nav-link" href="#">新規登録</a>
            <a class="nav-item nav-link" href="#">ログイン</a>
          </div>
        </div>
      </nav>
      <div style="background-color: #eaf5f7;">
        <img src="{% static 'img/nagoya.jpg' %}" class="img-fluid w-100 mb-4" alt="Responsive image">
      </div> 
    </div>

    {% block body %}{% endblock %}


</body>

</html>